body {
    display: grid;
    background-color: hsl(212, 45%, 89%);
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: Outfit, sans-serif;
}

.qrcode {
    display: grid;
    place-items: center;
    width: 20rem;
    aspect-ratio: 1 / 1.6;
    border-radius: 0.625rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
}

.qrcode img {
    width: 90%;
    height: 90%;
    display: block;
    border-radius: 0.9375rem;
}

.qrcode h1 {
    padding: 1.25rem;
    width: 17rem;
    margin: 0;
    font-size: 1.375rem;
    font-weight: 700;
    margin-block-start: -1.6rem;
}

.qrcode p {
    padding: 1.0rem;
    width: 17rem;
    color: #555;
    margin-block-start: -3rem;
    font-size: 15px;
    font-weight: 400;
}