body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: Outfit, sans-serif;
}

.qrcode {
    display: grid;
    place-items: center;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
}

.qrcode img {
    width: 90%;
    height: 90%;
    display: block;
    border-radius: 15px;
}

.qrcode h3 {
    padding: 18px;
    width: 230px;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.qrcode p {
    padding: 18px;
    color: #555;
    margin-top: -15px;
    font-size: 15px;
    font-weight: 400;
}